@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import 'react-image-gallery/styles/css/image-gallery.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: hsl(219, 9%, 45%);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 15px !important;
  width: 15px !important;
  position: absolute;
  left: 5px;
  margin: 1rem;
}

/* Color/shape of close button cross */
.bm-cross {
  color: hsl(219, 9%, 45%);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  bottom: 0;
  left: 0;
}

/* General sidebar styles */
.bm-menu {
  background: hsl(0, 0%, 100%);
  padding: 3.5em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
}

.image-gallery-right-nav,
.image-gallery-left-nav {
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  padding: 15px;
  background-color: hsl(223, 64%, 98%);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  filter: none;
  margin: 0px 15px;
}

.image-gallery-right-nav {
  background-image: url('../images/icon-next.svg');
}

.image-gallery-left-nav {
  background-image: url('../images/icon-previous.svg');
}

.image-gallery-svg {
  display: none;
}

.image-gallery-slides{
  height: 300px;
}

.image-gallery-thumbnail-image
{
  border-radius: 5px;
}

.image-gallery-thumbnail-inner{
  background-color: white;
  border-radius: 5px;
  opacity: 100%;
}
.image-gallery-thumbnail{
  border-radius: 10px;
}

.image-gallery-thumbnails-container{
  margin-top: 15px;
}

.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover{
  border-radius: 10px;
  border: 4px solid transparent; 
}

.image-gallery-thumbnail-image:hover{
  opacity: 60%;
}

.image-gallery-thumbnail-image:active{
  opacity: 35%;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:active {
  border: 4px solid hsl(26, 100%, 55%); 
  opacity: 35%;
  border-radius: 10px;
}


@media screen and (min-width:1024px){
  .image-gallery-image,
  .image-gallery-slides {
    border-radius: 10px;
  }

  .image-gallery-left-nav,
  .image-gallery-right-nav{
    margin: 0 -1.25rem;
  }

  .image-gallery-left-nav:hover{
    background-image: url('../images/icon-previous-hover.svg');
  }
  .image-gallery-right-nav:hover{
    background-image: url('../images/icon-next-hover.svg');
  }


  .image-gallery-slides{
    height: auto;
  }
  
}



/* styles for attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
